<header>
  <img src="../assets/title_bild2.jpg" alt="Selfhtml" />
  <div>
    <a routerLink="/home" class="logo">Hausarzt</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home" routerLinkActive="active-link">Home</a></li>
        <!---  <li><a href="#" routerLink="/profil" routerLinkActive="active-link">Profil</a></li>  --->
        <li><a href="#" routerLink="/krankheitsstatistik" routerLinkActive="active-link">Krankheitsstatistik</a></li>
        <li><a href="#" routerLink="/termine" routerLinkActive="active-link">Termine</a></li>
        <li><a href="#" id="patientenuebersicht_button" routerLink="/patientenuebersicht" routerLinkActive="active-link">Patientenübersicht</a></li>
        <!---  <li><a href="#" routerLink="/mitarbeiteruebersicht" routerLinkActive="active-link">Mitarbeiterübersicht</a></li>  --->
        <li><a href="#" routerLink="/impressum" routerLinkActive="active-link">Impressum</a></li>
        <li><a id="login_button" onclick="loginForm()">Login</a></li>
        <li><a id="logout_button" hidden onclick="logoutUser()">Logout</a></li>
        <li><a href="http://portal.dvess.network/">Zurück zum Portal</a></li>
      </ul>
    </nav>
  </div>
    <!---  exampleuser@test.de   --->
    <!---  sgse-ss2020   --->

    <!---  franzfieber@hausarzt.com  --->
    <!---  hausarzt  --->
    
  <div class="form-popup" id="loginForm">
    <div class="form-container">
      <h1>Login</h1>
  
      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" value="franzfieber@hausarzt.com" id="mail_signin">
  
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" value="hausarzt" id="password_signin">
  
      <button onclick="loginUser()" class="btn">Login</button>
      <button class="btn cancel" onclick="closeForm()">Close</button>
    </div>
  </div>
</header>

<div>
  <router-outlet></router-outlet>
</div>