
<body>
    <div>
      <h1 id="willkommen_h2">Willkommen beim Hausarzt</h1>
      <p>
        Der Hausarzt ist ein wichtiger Bestandteil für die Gesundheit der Bürger aus der Smart City. Er ist
        die erste Anlaufstelle bei körperlichen Beschwerden und Krankheiten. Als Bürger der Smart City
        kann man sich mit seiner Nutzer ID anmelden und online einen Termin festlegen. Außerdem ist
        es jedem Bürger möglich sich seine eigenen Krankenakten anzusehen, welche für gewöhnlich nur
        mit viel Aufwand einsehbar sind. Es gibt weiterführend auch eine Statistik zu den aktuell
        verbreiteten Krankheiten und Tipps und Tricks, wie man einer Ansteckung vorbeugen kann.
        <br><br>
        Die Website des Hausarztes dient als Schnittstelle zwischen den Bürgern der Stadt und dem
        Hausarzt. Dabei vereinfacht es die Terminbeschaffung für Bürger und Mitarbeiter. Außerdem
        bietet es einen einfachen Einblick in die Krankenakte. Der Hausarzt bekommt auch die
        Möglichkeit einer Überweisung des Patienten an das Krankenhaus oder das Fitness Center,
        welche er abhängig von seiner Diagnose ohne großen Aufwand tätigen kann.
        Das System richtet sich an alle Bürger der Smart City, welche Beschwerden und Krankheiten
        haben. Es ist eine einfache Anlaufstelle um diese bei dem Hausarzt zu untersuchen.
        Die Website bietet lediglich eine Möglichkeit sich einen Termin bei einem Hausarzt zu machen. Es
        ist weiterhin erforderlich, dass der Betroffene zu dem Termin erscheint um sich behandeln zu
        lassen.
      </p>
    </div>
  </body>