

<div class="container">
    <table cellspacing="5" height=100% width=100%>
        <tr style="vertical-align:top">
        <td width=50%>
            <h2>Patientenübersicht</h2>
            <div class="border">
                <ul id="patienten_list">da scheint etwas nicht zu funktionieren</ul>
            </div>
        </td>
        <td width="10" class="prima"><BR></td>
        <td width=50%>
            <div id="patienten_akte">Wähle einen Patienten aus</div>
        </td>
        </tr>
    </table>
</div>