

<div class="container">
    <table cellspacing="5" height=100% width=100%>
        <tr>
        <td width=50%>
            <h2>Patientenübersicht</h2>
            <div class="border">
                <ul>
                    <li>Patient X</li>
                    <li>Patient Y</li>
                    <li>Patient Z</li>
                </ul>
            </div>
        </td>
        <td width="10" class="prima"><BR></td>
        <td width=50%>
            <h2>Patientenakte - Patient X</h2>
        </td>
        </tr>
    </table>
</div>