/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(78, 147, 179);
$secondary: rgb(208, 225, 236);
$dreiodary: rgb(165, 189, 99);
$vierodary: rgb(202, 62, 62);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}
  
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 0px;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 350px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: $primary;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.hover_effect:hover {
    background-color: darken($secondary, 20%);
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.vl {
    border-left: 3px solid black;
    height: 100%;
    margin-left: -3px;
}

.border {
    border: 5px solid black;
}

.active-link {
    background: darken($primary, 10%);
}
.prima {
    background: $primary;
}

.left {
    padding: 1em;
    width: 50%;
    float: left;
    height: 100%;
}
  
.right {
    padding: 1em;
    width: 50%;
    margin-left: 50%;
    height: 100%;
}

header {
    background: $primary;

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    div {
        padding: 1em 0;
    }

    img {
        height: 20vh;
        width: 100vw;
    }
    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 1em;
}

hr {
    color: $primary;
    background-color: $primary;
    height:2px;
}

body {
    background: $secondary;
    div {
        width: 80%;
        margin: 0 auto;

    }
}