
<div class="container">
    <table cellspacing="5" height=100% width=100%>
        <tr>
        <td width=50%>
            <h2>Mitarbeiterübersicht</h2>
            <div class="border">
                <ul>
                    <li>Mitarbeiter X</li>
                    <li>Mitarbeiter Y</li>
                    <li>Mitarbeiter Z</li>
                </ul>
            </div>
        </td>
        <td width="10" class="prima"><BR></td>
        <td width=50%>
            <h2>Mitarbeiter X</h2>
        </td>
        </tr>
    </table>
</div>