<div class="container">
    <table cellspacing="5" height=100% width=100%>
        <tr>
        <td width=50%>
            <div><h2>neues Formular erstellen</h2></div>
            <div id="patienten_akte_neu">
            
                <label><b>Anamnese</b></label><br>
                <input type="text" placeholder="Schreibe hier wie du dich fühlst" id="anamnese_input"><br><br>
            
                <label><b>Symptome</b></label><br>
                <input type="text" placeholder="Was sind deine Beschwerden" id="symptome_input"><br><br>
            
                <label><b>Sonstiges</b></label><br>
                <input type="text" placeholder="Gibt es sonst noch etwas?" id="sonstiges_input"><br><br>
            
                <button onclick="create_new_akte()" class="btn">neue Akte</button>
            </div>
        </td>
        <td width="10" class="prima"><BR></td>
        <td width=50%>
            <div><h2>Patientenakten</h2></div>
            
            <div id="patienten_akte">Du hast noch keine Patientenakte</div>
        </td>
        </tr>
    </table>
</div>